@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors;
  }
  
  body {
    @apply font-sans text-slate-900 dark:text-slate-100 bg-slate-50 dark:bg-slate-900 antialiased transition-colors;
  }
}

/* Кастомный скроллбар для эстетики */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
